In [1]:
import pandas as pd

In [5]:
df = pd.read_csv('battery_head100.csv')
df.head(10)

   Voltage_measured  Current_measured  Temperature_measured    Time
0          3.873017         -0.001201             24.655358   0.000
1          3.479394         -4.030268             24.666480   2.532
2          4.000588          1.512731             24.675394   5.500
3          4.012395          1.509063             24.693865   8.344
4          4.019708          1.511318             24.705069  11.125
5          4.025409          1.512779             24.718140  13.891
6          4.030636          1.511838             24.731144  16.672
7          4.035349          1.510245             24.741290  19.500
8          4.039716          1.507796             24.759011  22.282
9          4.043541          1.507322             24.766891  25.063